<div class="row expanded frame">
  <div id="sidebar" class="column small-3">
    <h1><a href="#index">Марксів шарварок</a></h1>
    <h3>Завершено {{ task.progress * 100 | number:0 }}%</h3>
    <div class="progress progress-proof" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-meter" style="width: {{ task.progress * 100 }}%"></div>
    </div>
    <p>Вам залишилось {{ 100 - task.progress * 100 | number:0 }}% поточного завдання «<strong>{{ task.description }}</strong>». Поки ви не завершите поточне завдання, цей фрагмент не перейде на другий етап.</p>
    <h3>Спеціальні символи</h3>
    <p>Ви можете вводити символи з екранної клавіатури</p>
    <keyboard target-id="main-text" value="text"></keyboard>
    <h3>Інструкція</h3>
    <p>На першому етапі ми виправляємо лише помилки автоматичного розпізнавання. Відтворюємо текст так, як він є в оригіналі (зображення у верхній частині екрану):</p>
    <ol>
      <li>Залишаємо ПРОПИСНІ ЛІТЕРИ, переноси стрічок та пере-<br />носи слів там, де вони є.</li>
      <li>На першому етапі ігноруйте форматування. Слова, набрані <i>курсивом</i>, <strong>жирними літерами</strong> або набрані в&nbsp;<nobr>р о з р я д к у</nobr>, залишайте звичайним текстом.</li>
      <li>Залишаємо особливості оригінальної орфографії (<strong>матеріял</strong>, <strong>вартости</strong>)</li>
      <li>У формулах, таблицях і примітках перевіряйте лише текст та цифри.</li>
      <li>Не звертаємо увагу на <sup>регістр</sup> слів та цифр.</li>
      <li>Для ділення можна використати <strong>/</strong>, а складні формули (<img src="/sample.png" width="100px">) і дроби записуйте просто цифрами <nobr>(Г — Т Р Зп)</nobr>.</li>
      <li>Абзаци розділяємо пустою стрічкою.</li>
      <li>Лапки бувають різні (<strong>„ “ « »</strong>).</li>
      <li>У формулах використовується одинарна лапка (<strong>Т'</strong>), а у словах — знак апострофу (<strong>здоров’я</strong>).</li>
      <li>Дефіс (<strong>-</strong>) відрізняється від тире (<strong>—</strong>).
      <li>Римські цифри набираються латинкою.</li>
      <li>Видаляємо колонтитули (заголовки сторінок) та номера сторінок.</li>
    </ol>
    <p>Виправляти пробіли і форматування ми будемо на другому етапі коректури (пробіли стоять навколо символів —, =, + у формулах).</p>
    <p>Аби відмінити останню дію, використовуйте комбінацію клавіш <strong>Ctrl + Z</strong></p>
    <chat></chat>
  </div>
  <div id="main" class="column small-9">
    <div id="top" class="column row">
      <div class="grid-content edit-content">
        <a id="image-top"></a>
        <img ng-src="{{ image }}">
      </div>
    </div>
    <div id="bottom" class="column row">
      <div class="grid-content edit-content">
        <div class="textarea-page">
          <a id="text-top"></a>
          <textarea id="main-text" class="msd-elastic: \n;" ng-model="text">
          </textarea>
          <div class="row collapse">
            <div class="small-4 columns">
              <ul class="pagination">
                <li 
                  ng-repeat="page in task.pages" 
                  ng-class="{done: page.status == 'done', cur: page.id == id}">
                    <a ng-click="goto(page.id);">{{ $index + 1}}</a>
                </li>
              </ul>
            </div>
            <div class="small-3 columns">
              <a class="button secondary hollow" ng-click="save()">Зберегти</a>
              <p></p>
              <p><small><b>{{ savedStatus }}</b>Зберегти сторінку, щоби повернутися до неї пізніше.</small></p>
            </div>
            <div class="small-4 columns">
              <a class="button large expanded success" ng-click="saveAndContinue()">Завершити сторінку</a>
              <p><small>Відмітити поточну сторінку як завершену і перейти до наступної</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="submitModal.html">
  <h3>Відправити завдання?</h3>
  <p>Дякуємо, ви завершили поточне завдання і готові відправити його на наступний етап.</p>
  <a class="button large secondary hollow" ng-click="$dismiss()">Почитати ще раз</a>
  <button class="button large success float-right" ng-click="$close()">Відправити</button>
  <button class="close-button" type="button" ng-click="$dismiss()">
    &times;
  </button>
</script>