<div class="row expanded frame">
  <div id="sidebar" class="column small-3">
    <h1>Марксів шарварок</h1>
    <h3>Поточний прогрес</h3>
    <p>Ви зараз працюэте над «<strong>{{ task.description }}</strong>»</p>
    <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-meter" style="width: {{ task.progress * 100 }}%"></div>
    </div>
    <h3>Спеціальні символи</h3>
    <keyboard target-id="main-text" value="text"></keyboard>
    <h3>Інструкція</h3>
    <p>Залишайте переноси таам де вони є</p>
    <p>Памятайте про римськы цифри то англыйська, ы лапки</p>
    <p>Видайляте колонтитули та номера сторынок (де вони э)</p>
    <p>Формулахз ы таблицях переверыйте лише текст та цифры, не фокусуйтесь на форматуванны</p>
    <p><strong>Якощо шо питайте нас на фб прямо тут</strong></p>    
    <chat></chat>
  </div>
  <div id="main" class="column small-9">
    <div id="top" class="column row">
      <div class="grid-content edit-content">
        <a id="image-top"></a>
        <img ng-src="{{ image }}">
      </div>
    </div>
    <div id="bottom" class="column row">
      <div class="grid-content edit-content">
        <div class="textarea-page">
          <a id="text-top"></a>
          <textarea id="main-text" ng-model="text">
          </textarea>
          <div class="row collapse">
            <div class="small-5 columns">
              <ul class="pagination">
                <li 
                  ng-repeat="page in task.pages" 
                  ng-class="{done: page.status == 'done', cur: page.id == id}">
                    <a ng-click="goto(page.id);">{{ $index + 1}}</a>
                </li>
              </ul>
            </div>
            <div class="small-3 columns">
              <a class="float-right" ng-click="save()">Зберегти</a>
            </div>
            <div class="small-4 columns">
              <a class="button large expanded" ng-click="saveAndContinue()">Зберегти та продовжити</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="submitModal.html">
  <h3>Выдправити завдання?</h3>
  <p>Ви завершили, та можете ще почитати.</p>
  <a ng-click="$dismiss()">Почитати ще</a>
  <button class="button" ng-click="$close()">Выдправити</button>
  <button class="close-button" type="button" ng-click="$dismiss()">
    &times;
  </button>
</script>