<div class="row expanded frame">
  <div id="sidebar" class="column small-3">
    <h1>Інструкція</h1>
    <p>Ми точно відтворюємо оригінальні видання 30-х років. На перших двох етапах було вичитано більшість помилок автоматичного розпізнавання. Але, <strong>якщо ви зустрінете невідповідності у тексті, то виправляйте їх</strong>.  
    <a ng-click="manualModal()">Подробиці...</a></p>

    <p>
    Майже всі необхідні символи є на панелі інструментів. Аби переглянути результат — натисніть кнопку перегляд. На сторінці перегляду є кнопка завершити фрагмент.
    <a ng-click="manualModal()">Подробиці...</a>
    </p>

    <p>
      <p>У Капіталі є <strong>три типи приміток</strong>. Зверніть увагу, що нумерація приміток може не збігатися. Зверніть увагу, що <strong>нумерація заголовків може не збігатися з оригіналом</strong>.
      <a ng-click="manualModal()">Подробиці...</a>
    </p>
    <p>Аби відмінити останню дію, використовуйте комбінацію клавіш <strong>Ctrl + Z</strong></p>
    <p><strong>Якщо у вас залишися питання, або ви зустріли незрозумілий фрагмент, запитайте нас у фейсбук у формі нижче</strong></p>

    <h3>Спеціальні символи</h3>
    <p>Ви можете вводити символи з екранної клавіатури</p>
    <keyboard insert-fun="insertChar(char)" target-id="main-text" value="text"></keyboard>
    <h3></h3>
   
    <chat></chat>
  </div>
  <div id="main" class="column small-9">
    <div id="top" class="column row">
      <div class="grid-content edit-content">
        <a id="image-top"></a>
        <div ng-repeat="page in pages" class="preview-images">
          <img src="{{ page.image }}">
        </div>
      </div>
    </div>
    
    <div id="middle-preview" class="row toolbar" ng-show="preview">
      <div class="columns small-4"> 
        <a ng-click="hidePreview();" class="button success">Редагувати</a>
      </div>
      <div class="columns small-4 text-center"> 
        <a class="button success" ng-hide="loading" ng-click="submitModal();">
        Відправити фрагмент</a>
      </div>
      <div class="columns small-4">&nbsp;</div>
      
    </div>
    <div id="bottom-preview" class="column row" ng-show="preview">
      <div class="sk-fading-circle" ng-show="loading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>

      <div ng-repeat="image in images" class="preview-images" ng-hide="loading">
        <img src="{{ image }}">
      </div>
    </div>

    <div id="middle" class="column row toolbar" ng-hide="preview">
      <div class="button-group float-right">
        <dropdown-toggle close-on-click="true">
          <toggle>
            <a class="button primary dropdown">Відомовитись</a>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li><a ng-click="skipModal()">Замінити фрагмент
              </a></li>
            </ul>
            <ul class="menu vertical">
              <li><a ng-click="releaseModal()">Відмовитись від фрагменту
              </a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <a ng-click="save();" class="button primary">{{ savedStatus }}</a>
        <a ng-click="showPreview();" class="button success"><b>Перегляд</b></a>
      </div>
      <div class="button-group">
        <a ng-click="insertTex('\\emph{#}');" class="button success split">
          <i>к</i>
        </a>
        <a ng-click="insertTex('\\sfrac{}{#}');" class="button success split">
          <sup>2</sup>/<sub>3</sub>
        </a> 
        <a ng-click="insertTex('\\dots{}');" class="button success split">
          …
        </a>
        <dropdown-toggle close-on-click="true">
          <toggle>
            <a class="button success dropdown">Заголвоки</a>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li><a ng-click="insertTex('\\section*{#}');">
                Передмова ... (без нумерації) 
              </a></li>
              <li><a ng-click="insertTex('\\chapter{#}');">
                Відділ перший. Початок ...
              </a></li>
              <li><a ng-click="insertTex('\\section{#}');">
                Розділ перший. Початок ...
              </a></li>
              <li><a ng-click="insertTex('\\subsection{#}');">
                ІІ. Підрозділ ...
              </a></li>
            </ul>
          </pane>
        </dropdown-toggle>
        <dropdown-toggle close-on-click="true">
          <toggle>
            <a class="button success dropdown">Примітки</a>
          </toggle>
          <pane>
            <ul class="menu vertical">
              <li><a ng-click="insertTex('\\footnote{#}');">
                <sup>11</sup> Авторська примітка
              </a></li>
              <li><a ng-click="insertTex('\\footnoteA{#}');">
                <sup>11а</sup> Додаткова примітка
              </a></li>
              <li><a ng-click="insertTex('\\footnote*{#}');">
                <sup>**</sup> Редакторська примітка
              </a></li>
            </ul>
          </pane>
        </dropdown-toggle>
      </div>
      
    </div>
    <div id="bottom-short" class="column row" ng-hide="preview">
      <div 
        ng-model="tex"
        ui-ace="{
          theme:'iplastic',
          onLoad: aceLoaded,
          mode: 'latex'
      }"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="submitModal.html">
  <h3>Відправити фрагмент?</h3>
  <p>Дякуємо, ви завершили поточний фрагмент і готові відправити його на наступний етап.</p>

  <button class="button large hollow" ng-click="$close()">Відправити і завершити</button>
  <button class="button large success" ng-click="$close(true)">Відправити і отримати наступний фрагмент</button>
  <button class="close-button" type="button" ng-click="$dismiss()">
    &times;
  </button>
</script>

<script type="text/ng-template" id="releaseModal.html">
  <h3>Ви впевнені?</h3>
  <p>Відмовитись від фрагменту.</p>
  <a class="button large secondary hollow" ng-click="$dismiss()">Повернутися</a>
  <button class="button large success float-right" ng-click="$close()">Відмовитись</button>
  <button class="close-button" type="button" ng-click="$dismiss()">
    &times;
  </button>
</script>

<script type="text/ng-template" id="skipModal.html">
  <h3>Ви впевнені?</h3>
  <p>Пропустити поточний фрагмент і перейти до наступного?</p>
  <a class="button large secondary hollow" ng-click="$dismiss()">Повернутися</a>
  <button class="button large success float-right" ng-click="$close()">Пропустити</button>
  <button class="close-button" type="button" ng-click="$dismiss()">
    &times;
  </button>
</script>
