<h3>Будьте уважні та обережні!</h3>
<button class="close-button" type="button" ng-click="$dismiss()">
  &times;
</button>

<p>Ми точно відтворюємо оригінальні видання 30-х років. На перших двох етапах було вичитано більшість помилок автоматичного розпізнавання. Але, <strong>якщо ви зустрінете невідповідності у тексті, то виправляйте їх</strong>. В оригінальному виданні помилки зустрічаються раз на 30—40 сторінок, і це — радше випадковість. Але, якщо ви точно впевнені, що в оригіналі помилка, а не особливості орфографії, виправляйте її.</p>

<p class="latex">LaTeX — тестова система верстки. Якщо вам потрібно <i>курсив</i> ви просто пишете <b>\emph</b>{курсив}. <strong>Верстати в LaTeX страшно тільки перший раз</strong>. Майже всі необхідні символи є на панелі інструментів. Аби переглянути результат — натисніть кнопку перегляд. Аби <strong>завершити фрагмент і відправити натисніть кнопку «Відправити»</strong>.</p>

<p class="latex">Деякі елементи верстки <strong>автоматично проставлені, але потребують перевірки людиною</strong>. Також в тексті є спеціальні мітки 
<b>parcont</b>{} (<i>абзац починається на попередній сторінці</i> ¶),
<b>\parbreak</b>{} (¬ <i>абзац продовжується на наступній сторінці</i>) та
<b>\index</b>{franko}{0065} — посилання на сторінку оригінального видання.
</p>

<p>У Капіталі є <strong>три типи приміток</strong>. Зверніть увагу, що нумерація приміток може не збігатися, бо ви працюєте лише над фрагментом. Дужки після приміток не ставимо.</p>

<div class="row latex">
	<div class="column small-4">
		<sup>23</sup> звичайна примітка<br />
		<b>\footnote</b>{звичайна примітка}
	</div>
	<div class="column small-4">
		<sup>23а</sup> додаткова примітка<br />
		<b>\footnoteA</b>{додаткова примітка}
	</div>
	<div class="column small-4">
		<sup>**</sup> редакторська примітка<br />
		<b>\footnote*</b>{редакторська примітка}
	</div>
</div>

<p>Зверніть увагу, що <strong>нумерація заголовків може не збігатися з оригіналом</strong>.</p>

<div class="row latex">
	<div class="column small-4">
		<h4>Передмова</h4>
		<b>\section*</b>{Передмова}
	</div>
	<div class="column small-4">
		<h4>Відділ перший. Початок</h4>	
		<b>\chapter</b>{Початок}
	</div>
	<div class="column small-4">
		<h5>Розділ другий. Продовження</h5>	
		<b>\section</b>{Продовження}
	</div>
</div>
<div class="row latex">
	<div class="column small-6">
		<h5>3. Підрозділ <i>або</i> III. Підрозділ</h5>
		<b>\subsection</b>{Підрозділ}
	</div>
	<div class="column small-6">
		<h5>A) Підпідрозділ <i>або</i> а. Підпідрозділ</h5>	
		<b>\subsubsection</b>{Підпідрозділ}
	</div>
</div>
<br />
<p class="latex"><strong>Математичні формули</strong></p>
<div class="row latex">
	<div class="column small-2">
		<i>Т — Г — Т</i><br>
		<b>$Т — Г — Т$</b>
	</div>
	<div class="column small-2">
		<i>x + 10 = 10</i><br>
		<b>$x + 10 = 10$</b>
	</div>
	<div class="column small-4">
		становить 3<sup>2</sup>/<sub>3</sub>%<br>
		становить 3<b>\sfrac</b>{2}{3}\%
	</div>
	<div class="column small-4">
		<h3><span class="frac">
			<sup>зарплата</sup>
			<sub>2 + x</sub>
		</span> = 10</h3>
		$<b>\frac</b>{<b>\text</b>{зарплата}}{x + 10} = 10$</b>
	</div>
</div>
<p class="latex">У тексті можуть зустрічатися <strong>спеціальні символи</strong> <b>\dots</b>{} (<strong>...</strong>), <b>\%</b> (<strong>%</strong>) та <b>--</b> в інтервалах 10--20, І--ІІІ (<strong>10—20, І—ІІІ</strong>). 
</p>
<br />
<a class="button large success float-right" ng-click="$dismiss()">ОК</a>
<h3>Успіхів і наснаги!</h3>
