@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700&subset=latin,cyrillic);

$body-font-family: 'PT Serif', serif;  

$foundation-palette: (
  primary: #FFC107,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);


$global-width: 100%;