@mixin scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.frame {
	height: 100vh;
	overflow: hidden;
	background: $primary-color-dark;
}
#sidebar {
	height: 100%;
	background: $primary-color;
	@include scroll;

	h1 {
		color: #FFFFFF;
	}
	p {
		font-size: 120%;
		color: #CFD8DC;
	}
}
#main {
	overflow-y: auto;
	height: 100%;
}
#top,
#bottom {
	height: 50%;
	
	padding: 1em;
	@include scroll;
}

.edit-content {
	padding: 4%;
}
.textarea-page {
	background: #FFFFFF;
	padding: 5% 7%;
	textarea {
		line-height: 150%;

		height: 80em;
	}
}

@mixin font-scale()
{
  $i: 1;
  @while $i <= 10
  {
    @media all and (min-width: rem-calc(980) + rem-calc(100) * $i) {
    	.textarea-page textarea {
    		font-size: 1em + 0.1em * $i; 
    	}
    }
    $i: $i + 1;
  }
}
@include font-scale();