@mixin scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.frame {
	height: 100vh;
	overflow: hidden;
	background: $primary-color-dark;
}
#sidebar {
	height: 100%;
	background: $primary-color;
	@include scroll;

	h1, h3, p, ol, h1 a {
		color: #FFFFFF;
	}
	h3 {
		margin-top: 1em;
	}
}
#main {
	overflow-y: auto;
	height: 100%;
	padding: 0;
}
#top,
#bottom {
	height: 50%;
	
	padding: 1em;
	@include scroll;
}

.edit-content {
	padding: 1%;
}
.textarea-page {
	background: #FFFFFF;
	padding: 5% 7%;
	textarea {
		line-height: 150%;
	}
}

@mixin font-scale()
{
  $i: 1;
  @while $i <= 10
  {
    @media all and (min-width: rem-calc(980) + rem-calc(100) * $i) {
    	.textarea-page textarea {
    		font-size: 1em + 0.07em * $i; 
    	}
    }
    $i: $i + 1;
  }
}
@include font-scale();

.pagination .done a {
  background-color: $primary-color;
  color: #FFF;
  &:hover {
  	background-color: $primary-color-light;
  }
}

.pagination .cur a {
  background-color: $accent-color;
  color: #FFF;
  &:hover {
  	background-color: $divider-color;
  }
}

keyboard .tabs-panel {
	padding: 0;

	& a {
		font-weight: bold;
		width: 18%;
		margin: 1%;
		padding: 0 0.2 0 0.2;
		font-size: 1.2em;
	}
}

.progress-proof {
	background-color: #FFFFFF;

	& .progress-meter {
		background-color: $progress-color;
	}
}