$index-page-width: rem-calc(1024px);
$index-colum-width: $index-page-width / 12; 

@mixin vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.hero-row {
	padding-top: $index-colum-width;

	p {
		font-size: rem-calc(18px);
	}

	@include grid-row($columns: 2, $width: 100%);
	
	.arrow-column {
		$arrow-width: rem-calc(135px);

		@include grid-column(1);
		background: $main-color;
		height: $arrow-width * 2;
		position: relative;
		padding-right: 0 !important;

		p, h1 {
			color: $primary-color-text;
		}

		h1 {
			font-size: 2.7rem;
			white-space: nowrap;
		}

		.arrow-text {
			@include grid-column(100%);
			@include vertical-align;

	  		width: $index-colum-width * 6 - $arrow-width;
	  		right: $arrow-width;
		}

		.arrow-tip {
			height: 0;
			width: 0;
			float: right;
			border-top: $arrow-width solid white;
			border-left: $arrow-width solid transparent;
	  		border-bottom: $arrow-width solid white;
		}
	}

	.quote-column {
		@include grid-column(1);
		@include grid-column-end;
		background-color: $accent-color;
		color: $primary-color-text;

		.quote-text {
			width: $index-colum-width * 5;
			margin-left: $index-colum-width;
			margin-top: rem-calc(16px); //magic
		}
	}

	.left-column {
		@include grid-column(1);
		position: relative;
		height: rem-calc(120px);
		
		.left-column-text {
			width: $index-colum-width * 5;
			@include vertical-align;

	  		right: $index-colum-width;
		}
	}

	.right-column {
		@include grid-column(1);
		@include grid-column-end;

		margin-left: $index-colum-width;
		width: $index-colum-width * 5;
	}
}


.text-row {
	padding-top: $index-colum-width;

	font-size: rem-calc(18px);
	@include grid-row($columns: 12, $width: $index-page-width);
	
	.left-column {
		@include grid-column(5);
  	}
  	
  	.right-column {
	    @include grid-column(5);
	    @include grid-column-offset(2);
	}
}

.stage-done {
	.chart {
		width: rem-calc(120px);
		height: rem-calc(120px);
		margin: auto;
	}
}

.stage-active {
	margin-top: $index-colum-width;
	padding-bottom: 1em;
	padding-top: 1em;

	.text-row:first-child {
		padding-top: 0;
	}

	h3, p {
		color: $primary-color-text;
	}

	background-color: $main-color;
	.chart {
		width: rem-calc(165px);
		height: rem-calc(165px);
		margin: auto;
	}		

	text, path {
		fill-opacity: 1 !important; // hack
	}
}

.footer {
	margin-top: 3em;

	background-color: $main-color;

	p, & a {
		color: #FFF;
	}

	a {
		text-decoration: underline;
	}
	padding: 1em;
}

.top-list {
	sup {
		color: $main-color;
		font-weight: bold;
	}
	span:nth-child(-n+3) {
		display: block;
		font-weight: bold;
		font-size: 120%;
		&::after {
			content: "";
		}
	}
	span::after {
		content: ", ";
	}
	span:last-child::after {
		content: ". ";
	}
	span:nth-child(n+16) {
		font-size: 70%;
	}
}
