
<div class="hero-row">
  <div class="arrow-column">
    <div class="arrow-tip">
    </div>
    <div class="arrow-text">
      <h1>Марксів шарварок</h1>
      <p>спільна підготовка видання<br />Марксового «Капіталу»</p>
    </div>
  </div>

  <div class="right-column" ng-show="!isAuthenticated">
    <h4>Повернутися до завдання</h4>
    <p>Щоби повернутися до поточного завдання завдання або отримати нове увійдіть через facebook</p>
    <a ng-click="login();" class="button large primary expand">увійти через facebook</a>
    <p><small>* Ми нічого не публікуємо від вашого імені.</small></p>
  </div>

  <div class="right-column" ng-show="isAuthenticated">
    <h4>Вітаємо, {{ user.name }}!</h4>
    <p>Ви <ng-pluralize count="current"
              when="{'0': 'поки не завершили жодного завдання',
                     'one': 'вже завершили {} завдання',
                     'few': 'вже завершили {} завдання',
                     'many': 'вже завершили {} завдань'}"></ng-pluralize>.
      В середньому кожний, хто долучився виконав 
        <b><ng-pluralize count="avg"
              when="{'one': '{} завдання',
                     'few': '{} завдання',
                     'many': '{} завдань'}"></ng-pluralize></b>.
    </p>
    <div ng-show="!task.exists">
      <p>Ви зараз не працюєте над завданням. 
      Отримайте завдання з поточного етапу «<strong>Перша коректура</strong>».
      </p>
      <a ng-click="assign('first_proof');" class="button large success">Oтримати завдання</a>
      <p><a ng-click="logout()" ng-if="!isFacebook">Вийти</a></p>
    </div>
    <div ng-show="task.exists">
      <p>Ви зараз працюєте над «<strong>{{ task.description }}</strong>»:</p>
      <a href="https://шарварок.маркс.укр/#/proof" class="button large primary expand" target="_blank">перейти до завдання</a>
      <p>
        <span ng-if="!isFacebook"><a ng-click="logout()">Вийти</a> або </span>
        <a ng-click="release();">Відмовитись від завдання</a>
      </p>
    </div>
    
  </div>

</div>

<div class="text-row">
  <div class="left-column" >
    <h2>Як це працює?</h2>
    <p>На першому етапі перевіряємо, що текст правильно розпізнано (зразок).</p>
    <img src="/text.png">
    <p>Після цього ще три етапи до видання: корректура, верстка і фінальна корректура.</p>
    <p>Процес організований таким чином, що не потребує від користувача попередньої підготовки</p>
  </div>
  <div class="right-column">
    <h2>Подяка!</h2>
    <p>Цей проект був би не можливий без тих, хто долучився до спільної роботи.
      Наразі до спільної підготовки видання Марксового «Капіталу» вже 
        <b><ng-pluralize count="usersCount"
              when="{'one': 'долучилась {} людина',
                     'few': 'долучилось {} людини',
                     'many': 'долучилось {} людей'}"></ng-pluralize>.</b>
    </p>

    <p>{{ top.length }} — завершили хоча б одне завдання (за кількістю виконаних завданнь):</p>

    <p class="top-list">
      <span ng-repeat="user in top">{{ user.name }}&nbsp;<sup>{{ user.tasks }}</sup></span>
    </p>
  </div>
</div>

<div class="hero-row">
  <div class="left-column">&nbsp;
    <div class="left-column-text">

      <h2 ng-if="!isFacebook">Поточний прогрес</h2>

      <a ng-if="isFacebook" href="https://шарварок.маркс.укр/" class="button large primary expand" target="_blank">
        перейти до Марксового шарварку</a>

    </div>
  </div>

  <div class="quote-column">
      <p class="quote-text">
        Я стидав би ся, — каже він, — сидіти, згорнувши руки,
           коли всім навколо такі жнива, такий шарварок&hellip;
           <i>Олесь Гончар</i>
      </p>
  </div>
</div>

<div ng-if="debug" class="stage-active">
  <div class="text-row">
    <div class="left-column">
      <div class="chart">
        <pie-chart data='graphs.test' options='options'></pie-chart>
      </div>
    </div>
    <div class="right-column">
      <h3>0. Monkey testing stage</h3>
      <p>
        {{ debug }}
        Go make it!
        
      </p>
      <a ng-click="assign('test');" class="button large success">Oтримати завдання</a>
    </div>  
  </div>
</div>

<div class="stage-active">
  <div class="text-row stage-done">
    <div class="left-column">
      <div class="chart">
        <pie-chart data='graphs.first_proof' options='options'></pie-chart>
      </div>
    </div>
    <div class="right-column">
      <h3>1. Перша коректура</h3>
      <p>
        На першому етапі виправляємо лише помилки автоматичного розпізнавання. 
        Цей етап не потребує попереднього досвіду коректури.
      </p>
      <div ng-show="!isAuthenticated">
        <p>Щоби отримати нове завдання увійдіть через facebook</p>
        <a ng-click="login();" class="button large success expand">увійти через facebook</a>
        <p><small>* Ми нічого не публікуємо від вашого імені.</small></p>
      </div>
      <div ng-show="isAuthenticated">
        <div ng-show="!task.exists">
          <a ng-click="assign('first_proof');" class="button large success">Oтримати завдання</a>
        </div>
        <div ng-show="task.exists">
          <p>Ви вже працюєте над «<strong>{{ task.description }}</strong>»</p>
          <a href="https://шарварок.маркс.укр/#/proof" class="button large large success" target="_blank">перейти до завдання</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataNone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>2. Друга коректура</h3>
      <p>
        На другому етапі виправляємо помилки, що залишились після першого етапу. А також уніфікуємо типографіку в книжках. 
      </p>
      <p>
        На цьому етапі бажаний досвід коректури. Але, якщо ви робили завдання з першого етапу — цього буде досить.
      </p>
  </div>  
</div>

<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataNone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>3. Верстка</h3>
    <p>
      Верстаємо книги в системі верстки LaTeX. Завдання будуть і для тих, кто має досвід роботи в LaTeX так і для новачків.
    </p>
  </div>
</div>

<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataNone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>4. Фінальна коректура</h3>
    <p>
      Майже завершили, уважно перечитуємо від початку до кінця. Перфекціоністів і перфекціоністок  запрошуємо реалізувати свій перфекціонізм!
    </p>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="small-6 columns small-offset-6">
      <p>Шарварок — <a href="https://github.com/scharwerk/scharwerk" target="_blank">вільне програмне забезпечення</a></p>
    </div>
  </div>
</div>
