<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="hero-row">
  <div class="arrow-column">
    <div class="arrow-text">
      <h1>Марксів «Капітал»</h1>
      <p>спільна підготовка видання</p>
    </div>
  </div>
  <div class="quote-column">
    <p class="quote-text">
      Я стидав би ся, — каже він, — сидіти, згорнувши руки,
         коли всім навколо такі жнива, такий шарварок&hellip;
         <i>Олесь Гончар</i>
    </p>
  </div>
</div>

<div class="text-row">
  <div class="columns smalĺ-12 large-6">
    <h2>Подяка!</h2>
    <p>Цей проект був би неможливий без тих, хто долучився до спільної роботи.
      Наразі до спільної підготовки видання Марксового «Капіталу»  
        <b><ng-pluralize count="top.length"
              when="{'one': 'долучилась вже {} людина',
                     'few': 'долучилось вже {} людини',
                     'many': 'долучилось вже {} людей'}"></ng-pluralize></b>
      (за кількістю завершених сторінок):</p>
    <p class="top-list">
      <span ng-repeat="user in top">{{ user.name }}&nbsp;<sup>{{ user.done }}</sup></span>
    </p>
  </div>
  <div class="columns smalĺ-12 large-5 large-offset-1" >
    <h2>Як це працює?</h2>
    <p>Ми точно відтворюємо оригінальні видання 30-х років. На перших двох етапах було вичитано більшість помилок автоматичного розпізнавання.</p>
    <p>На поточному етапі ми верстаємо текст у системі LaTeX.
    <a ng-click="manualModal();">Інструкція</a></p>
    <p>Процес організований таким чином, що не потребує від користувача попередньої підготовки. <a ng-click="screenModal();">Як це виглядає?</a></p>

    <div ng-show="!isAuthenticated">
      <h4>Отримати фрагмент</h4>
      <p>Щоб отримати новий фрагмент або повернутися до поточного, увійдіть через facebook</p>
      <a ng-click="login();" class="button large primary expand">увійти через facebook</a>
      <p><small>* Ми нічого не публікуємо від вашого імені.</small></p>
    </div>

    <div ng-show="isAuthenticated">
      <h4>Вітаємо, {{ user.name }}!</h4>
      <p>Ви <ng-pluralize count="current"
                when="{'0': 'поки не завершили жодної сторінки',
                       'one': 'вже завершили {} сторінку',
                       'few': 'вже завершили {} сторінки',
                       'many': 'вже завершили {} сторінок'}"></ng-pluralize>.
        В середньому кожний, хто долучився, завершив 
          <b><ng-pluralize count="avg"
                when="{'one': '{} сторінку',
                       'few': '{} сторінки',
                       'many': '{} сторінок'}"></ng-pluralize></b>.
      </p>
      <div ng-show="!task.exists">
        <p>Ви зараз не працюєте над фрагментом. 
        Отримайте фрагмент з поточного етапу «<strong>Верстка</strong>».
        </p>
        <div ng-show="graphs.markup[0].free">
          <a ng-click="assign('markup');" class="button large success">Oтримати фрагмент</a>
          <p><a ng-click="logout()" ng-if="!isFacebook">Вийти</a></p>
        </div>
        <div ng-show="!graphs.markup[0].free">
          <p>На щастя, всі фрагменти поточного етапу вже в роботі!</p>
        </div>
      </div>
      <div ng-show="task.exists">
        <p>Ви зараз працюєте над «<strong>{{ task.description }}</strong>»:</p>
        <a href="https://шарварок.маркс.укр/#/markup" class="button large primary expand" target="_blank">перейти до фрагменту</a>
        <p>
          <span ng-if="!isFacebook"><a ng-click="logout()">Вийти</a> або </span>
          <a ng-click="release();">Відмовитись від фрагменту</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="text-row">
  <div class="columns smalĺ-12 large-6">
    <h2 ng-if="!isFacebook">Поточний прогрес</h2>

    <a ng-if="isFacebook" href="https://шарварок.маркс.укр/" class="button large primary expand" target="_blank">
        перейти до Марксового шарварку</a>

  </div>
</div>

<div ng-if="debug" class="stage-active">
  <div class="text-row">
    <div class="left-column">
      <div class="chart">
        <pie-chart data='graphs.test' options='options'></pie-chart>
      </div>
    </div>
    <div class="right-column">
      <h3>0. Monkey testing stage</h3>
      <p>
        {{ debug }}
        Go make it!
        <div ng-show="graphs.test[0].free">
          <p>Ще э!</p>
          {{ graphs.test[0].free }}
        </div>
        <div ng-show="!graphs.test[0].free">
          <p>Нема!</p>
        </div>
      </p>
      <a ng-click="assign('test');" class="button large success">Oтримати завдання</a>
    </div>  
  </div>
</div>


<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataDone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>1. Перша коректура</h3>
    <p>
      На першому етапі виправляємо лише помилки автоматичного розпізнавання. 
      Цей етап не потребує попереднього досвіду коректури.
    </p>
  </div>
</div>

<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataDone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>2. Друга коректура</h3>
    <p>
      На другому етапі виправляємо помилки, що залишились після першого етапу. А також уніфікуємо типографіку в книжках. 
    </p>
  </div>
</div>

<div class="stage-active">
  <div class="text-row">
    <div class="left-column">
      <div class="chart">
        <pie-chart data='graphs.markup' options='options'></pie-chart>
      </div>
    </div>
    <div class="right-column">
      <h3>3. Верстка</h3>
      <p>
        Верстаємо книги в системі верстки LaTeX.
        Завдання будуть як для тих, хто має досвід роботи в LaTeX, так і для новачків.
      </p>
      <p>
        <b>Наразі <ng-pluralize count="graphs.markup[0].finished"
              when="{'one': 'завершено {} фрагмент',
                     'few': 'завершено {} фрагменти',
                     'many': 'завершено {} фрагментів'}"></ng-pluralize>
        з {{ graphs.markup[0].total }}</b>.
      </p>
    </div>  
  </div>
  <div class="text-row">
    <div class="left-column">
      <div class="chart">
        <pie-chart data='graphs.markup_complex' options='options'></pie-chart>
      </div>
    </div>
    <div class="right-column">
      <h4>3*. Верстка складних фрагментів</h4>
      <p>
        Фрагменти з таблицями та складними формулами.
      </p>
      <p>
        <b>Наразі <ng-pluralize count="graphs.markup_complex[0].finished"
              when="{'one': 'завершено {} фрагмент',
                     'few': 'завершено {} фрагменти',
                     'many': 'завершено {} фрагментів'}"></ng-pluralize>
        з {{ graphs.markup_complex[0].total }}</b>.
      </p>
    </div>  
  </div>
</div>

<div class="text-row stage-done">
  <div class="left-column">
    <div class="chart">
      <pie-chart data='dataNone' options='optionsSmall'></pie-chart>
    </div>
  </div>
  <div class="right-column">
    <h3>4. Фінальна коректура</h3>
    <p>
      Майже завершили, уважно перечитуємо від початку до кінця. Перфекціоністів і перфекціоністок  запрошуємо реалізувати свій перфекціонізм!
    </p>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p>Шарварок — <a href="https://github.com/scharwerk/scharwerk" target="_blank">вільне програмне забезпечення</a></p>
    </div>
  </div>
</div>
