<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Шарварок</title>
  <%= stylesheet_link_tag    'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="scharwerk">
  <ui-view></ui-view>
</body>
</html>
